@import "_variable";


body {
    background-color: #7945ff;
    font-family: $basique_font;
};

@mixin btn_2 {
width: 108px;
height: 39px;
border-radius: 20px;
top: 51px;
};

.menu {
position: absolute;
@include btn_2;
left: 20px;
border-radius: 20px;
border: none;
background-color: #5C2DD5; 
color: white;
};

.restart {
    position: absolute;
    @include btn_2;
    left: 247px;
    border-radius: 20px;
    border: none;
    background-color: #5C2DD5;
    color: white;
};

.image_header {
    position: absolute;
    width: 40px;
    height: 40px;
    left: 168px;
    top: 50px;
};

.player_pink {
    position: absolute;
    width: 142px;
    height: 81px;
    left: 25px;
    top: 140px;    
    border: 3px solid #000000;
    box-shadow: 0px 10px 0px #000000;
    border-radius: 20px;
    background-color: white;
};
.player_yellow {
    position: absolute;
    width: 142px;
    height: 81px;
    left: 199px;
    top: 140px;
    border: 3px solid #000000;
    box-shadow: 0px 10px 0px #000000;
    border-radius: 20px;
    background-color: white;
};

.smiley_1 {  
    width: 54px;
    height: 59px;
    translate: -35px;
    margin: 10px;
position: absolute;
};

.smiley_2 {
    width: 54px;
    height: 59px;
    translate: 100px;
    margin: 10px;
    position: absolute;
};

.text_player_1 {
    transform: translate(37px);
    font-weight: 700;   
};

.text_player_2 {
    transform: translate(37px);
    font-weight: 700;
};

.win_player_1 {
    margin: 20px;
    margin-top: 6px;
    font-size: 32px;
};

.win_player_2 {
margin: 15px;
margin-top: 6px;
font-size: 32px;
};

.game_board_black {
z-index: -1;
display: flex;
justify-content: center;
align-items: center;
width: 335px;
height: 310px;
position: relative;
left: 10px;
bottom: 25px;

};

.board_white {
    position: relative;
    z-index: 0;    
    display: flex;
    justify-content: center;
    align-items: center;
    width: 335px;
    height: 310px;
    top: 275px;
    left: 10px
    };

.purple_square {
    z-index: -2;
    position: absolute;
    width: 375px;
    height: 236px;
    left: 0px;
    top: 576px;
    background-color: #5C2DD5;  
    border-radius: 60px 60px 0px 0px;
};

.timer {
    position: absolute;
    width: 200px;
    height: 170px;
    left: 88px;
    top: 574px;
    background-image: url(/assets/images/turn-background-red.svg);
    background-repeat: no-repeat;
};

.player_time {
    position: relative;
    width: 127px;
    height: 20px;
    left: calc(50% - 127px/2 + 0.5px);
    top: calc(50% - 20px/2 - 50px);
    font-family: $basique_font;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
};

.time {
    position: relative;
    width: 89px;
    height: 71px;
    left: calc(50% - 89px/2 + 0.5px);
    top: calc(50% - 71px/2 + -70px);
    font-family: $basique_font;
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 71px;
    text-align: center;
    color: #FFFFFF;
}