@font-face {
    font-family: "Space Grotesk Bold";
    src: url(/assets/fonts/SpaceGrotesk-VariableFont_wght.ttf),
        url(/assets/fonts/static/SpaceGrotesk-Bold.ttf),
        url(/assets/fonts/static/SpaceGrotesk-Medium.ttf);
}

$black_color: #000000;
$black_purple: #5C2DD5;
$light_purple: #7945FF;
$pink: #FD6687;
$orange: #FFCE67;
$white: #FFFFFF;
$basique_font: "Space Grotesk Bold";